################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Common.Utility/.vs/Common.Utility
/Common.Utility/Common.Utility.Date/obj
