################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Common.Utility/.vs/Common.Utility
/Common.Utility/Common.Utility.Date/obj
/Common.Utility/Common.Utility.ConvertTests/bin/Debug/netcoreapp3.0
/Common.Utility/Common.Utility.ConvertTests/obj/Debug/netcoreapp3.0
/Common.Utility/Common.Utility.ConvertTests/obj
/Common.Utility/Common.Utility.Date/bin/Debug/netstandard2.0
/Common.Utility/Common.Utility.Difference/bin/Debug/netstandard2.0
/Common.Utility/Common.Utility.Difference/obj
/Common.Utility/Common.Utility.DifferenceTests/bin/Debug/netcoreapp3.0
/Common.Utility/Common.Utility.DifferenceTests/obj
